@import '../index.scss';

#home {
    .personal-section{
        margin:auto;
        padding: 50px 0;
    }
    .heroSection {
        .hsl {
            display: flex;

            .callToAction {
                width: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: flex-end;

                .actionButton {
                    background-color: $brand-color;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0;
                    cursor: pointer;
                    font-size: 22px;
                    transition: all .3s;
                    color: white;

                    &:hover {
                        transform: scale(110%);
                        box-shadow: 0px 0px 10px 0px #7d66b9;
                    }
                }
            }

            .heroImage {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 90%;

                .heroimg {
                    width: 100%;
                    // questa opzione è da capire se tenerla o meno
                    // filter: drop-shadow(0px 0px 200px white);
                    filter: drop-shadow(0px 0px 200px #613DC1);
                    
                }
            }
        }

        .hsr {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: center;
            line-height: 60px;

            .herotext {
                font-size: 60px;

                // line-height: 100px;
                .big-text {
                    font-size: 70px;
                }
            }

            .subtext {
                font-size: 30px;
            }
        }
    }

    .aboutSection {
        position: relative;
        .purlpe-wave {
            position: absolute;
            z-index: -2;
            bottom: 0;
            height: fit-content;
        }
        
        // align-items: flex-start;
        .main-container {            
            .aboutText,
            .aboutImage {
                margin-top: 50px;
            }
            .aboutText {
                .aboutTitle {
                    font-size: 40px;
                    margin: 30px 0 20px 0;
                    font-weight: bold;
                }

                .aboutParag {
                    font-size: 20px;
                    line-height: 30px;
                    // width: 80%;
                    text-shadow: 0px 0px 18px black;
                }

                .buttonAboutContainer {
                    margin: 30px 0;
                    display: flex;
                    width: 80%;

                    .btn {
                        margin-right: 20px;
                    }

                    .downloadButton {
                        display: flex;
                        align-items: center;
                        // background-color: white;
                        color: white;
                        text-decoration: underline;
                        text-shadow: 2px 0px 6px black;
                        transition: all .3s ease-in-out;
                        &:hover{
                            text-shadow: 2px 0px 6px white;
                        }
                    }
                }
            }

            .aboutImage {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .projectSection{
        background-image: linear-gradient(180deg, $brand-color, transparent);
        h2{
            color: $background;
            font-size: 60px;
            font-weight: bolder;
            text-shadow: -1px 1px 11px #29292954;
            text-align: center;
            letter-spacing: 110px;
        }
        p{
            text-align: center;
            font-weight: 700;
            margin: 40px 0;
            font-size: 18px;
        }
        .buttonBox{
            display: flex;
            justify-content: center;
            .btn{
                font-size: 20px;
                padding: 5px 25px;
            }
        }
    }
    .techSection{
        height: 100vh;
        .circleTech{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                filter: drop-shadow(0px 0px 30px #00000082);
                animation: rotatecircle infinite 80s linear ;
            }
        }
    }
}

// svg vawe
.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotatecircle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 43.46750838133161,94.97646509274006 86.93501676266322,89.9529301854801 122,86 C 157.06498323733678,82.0470698145199 183.72744133067872,79.16474435081965 214,75 C 244.27255866932128,70.83525564918035 278.15521791462197,65.38809241124127 314,69 C 349.84478208537803,72.61190758875873 387.6516870108335,85.28288600421521 426,89 C 464.3483129891665,92.71711399578479 503.238034042044,87.48036357189783 546,96 C 588.761965957956,104.51963642810217 635.3961768209901,126.79565970819354 677,125 C 718.6038231790099,123.20434029180646 755.1772586739952,97.33699759532807 783,96 C 810.8227413260048,94.66300240467193 829.8947884830291,117.85634991049422 871,111 C 912.1052115169709,104.14365008950578 975.2435873938887,67.2376027626951 1014,69 C 1052.7564126061113,70.7623972373049 1067.1308619414167,111.19323903872535 1099,124 C 1130.8691380585833,136.80676096127465 1180.2329648404452,121.98944108240353 1219,124 C 1257.7670351595548,126.01055891759647 1285.937278696803,144.8489966316606 1323,135 C 1360.062721303197,125.1510033683394 1406.0179203723421,86.61457239095412 1427,76 C 1447.9820796276579,65.38542760904588 1443.991039813829,82.69271380452294 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 43.28154774371407,109.63997610726034 86.56309548742814,119.27995221452066 124,110 C 161.43690451257186,100.72004778547934 193.02916579400159,72.52016724917767 224,65 C 254.97083420599841,57.479832750822325 285.3202413365654,70.63937878876864 319,85 C 352.6797586634346,99.36062121123136 389.6898688597369,114.92231759574776 425,122 C 460.3101311402631,129.07768240425224 493.920283224487,127.6713508282403 536,112 C 578.079716775513,96.3286491717597 628.6289982423152,66.392279091291 673,66 C 717.3710017576848,65.607720908709 755.5637238062523,94.75953280659567 786,102 C 816.4362761937477,109.24046719340433 839.1161065326761,94.5695896823263 879,99 C 918.8838934673239,103.4304103176737 975.9718500630431,126.9621084640991 1013,127 C 1050.0281499369569,127.0378915359009 1066.9964932151513,103.5819764612773 1096,96 C 1125.0035067848487,88.4180235387227 1166.0421770763514,96.70998569079165 1202,97 C 1237.9578229236486,97.29001430920835 1268.8347984794439,89.57808077555609 1309,96 C 1349.1652015205561,102.42191922444391 1398.6186290058731,122.97769120698399 1422,126 C 1445.3813709941269,129.022308793016 1442.6906854970634,114.511154396508 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 29.798588251677998,105.47762525462855 59.597176503355996,110.95525050925711 102,119 C 144.402823496644,127.04474949074289 199.409882238254,137.65662321760013 232,129 C 264.590117761746,120.34337678239987 274.76329454362804,92.4182566203424 314,81 C 353.23670545637196,69.5817433796576 421.53693958723375,74.67035030103027 463,85 C 504.46306041276625,95.32964969896973 519.0889471074372,110.90034217553657 545,103 C 570.9110528925628,95.09965782446343 608.107271983017,63.72828099682353 654,64 C 699.892728016983,64.27171900317647 754.4819649604948,96.18653383716935 788,104 C 821.5180350395052,111.81346616283065 833.9648681750041,95.52558365449906 867,99 C 900.0351318249959,102.47441634550094 953.6585623394883,125.71113154483444 997,128 C 1040.3414376605117,130.28886845516556 1073.4008824670432,111.62989016616314 1107,108 C 1140.5991175329568,104.37010983383686 1174.737907792339,115.76930779051297 1212,111 C 1249.262092207661,106.23069220948703 1289.6474863636008,85.29287867178496 1335,76 C 1380.3525136363992,66.70712132821504 1430.6721467532568,69.05917752234716 1449,75 C 1467.3278532467432,80.94082247765284 1453.6639266233715,90.47041123882642 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 30.787472418220787,107.60391393163113 61.574944836441574,115.20782786326224 99,121 C 136.42505516355843,126.79217213673776 180.48769307245453,130.77260247858217 221,117 C 261.51230692754547,103.22739752141783 298.4742828737403,71.70176222240906 331,71 C 363.5257171262597,70.29823777759094 391.61517543258407,100.4203486317816 426,104 C 460.38482456741593,107.5796513682184 501.0650153959234,84.61684325046456 541,76 C 580.9349846040766,67.38315674953544 620.1247629837228,73.11227836636016 661,77 C 701.8752370162772,80.88772163363984 744.4359326691858,82.93404328409481 779,78 C 813.5640673308142,73.06595671590519 840.1315063395339,61.15154849726058 871,66 C 901.8684936604661,70.84845150273942 937.0380419726785,92.45976272686282 981,97 C 1024.9619580273215,101.54023727313718 1077.7163257697518,89.00940059528814 1116,87 C 1154.2836742302482,84.99059940471186 1178.0966549483142,93.50263489198463 1205,91 C 1231.9033450516858,88.49736510801537 1261.8970544369924,74.98005983677336 1309,75 C 1356.1029455630076,75.01994016322664 1420.3151273037165,88.57712576092189 1445,95 C 1469.6848726962835,101.42287423907811 1454.8424363481417,100.71143711953906 1440,100 C 1440,100 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,100 0,100 C 43.46750838133161,94.97646509274006 86.93501676266322,89.9529301854801 122,86 C 157.06498323733678,82.0470698145199 183.72744133067872,79.16474435081965 214,75 C 244.27255866932128,70.83525564918035 278.15521791462197,65.38809241124127 314,69 C 349.84478208537803,72.61190758875873 387.6516870108335,85.28288600421521 426,89 C 464.3483129891665,92.71711399578479 503.238034042044,87.48036357189783 546,96 C 588.761965957956,104.51963642810217 635.3961768209901,126.79565970819354 677,125 C 718.6038231790099,123.20434029180646 755.1772586739952,97.33699759532807 783,96 C 810.8227413260048,94.66300240467193 829.8947884830291,117.85634991049422 871,111 C 912.1052115169709,104.14365008950578 975.2435873938887,67.2376027626951 1014,69 C 1052.7564126061113,70.7623972373049 1067.1308619414167,111.19323903872535 1099,124 C 1130.8691380585833,136.80676096127465 1180.2329648404452,121.98944108240353 1219,124 C 1257.7670351595548,126.01055891759647 1285.937278696803,144.8489966316606 1323,135 C 1360.062721303197,125.1510033683394 1406.0179203723421,86.61457239095412 1427,76 C 1447.9820796276579,65.38542760904588 1443.991039813829,82.69271380452294 1440,100 C 1440,100 1440,400 1440,400 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 42.90322670536236,195.61193647698053 85.80645341072471,191.22387295396103 124,198 C 162.1935465892753,204.77612704603897 195.67741306246353,222.7164446611364 226,221 C 256.32258693753647,219.2835553388636 283.4838943394211,197.9103484014934 315,185 C 346.5161056605789,172.0896515985066 382.3870095798522,167.64216173288997 422,165 C 461.6129904201478,162.35783826711003 504.96806734117035,161.52100466694674 542,162 C 579.0319326588296,162.47899533305326 609.7407210554666,164.27381959932308 654,170 C 698.2592789445334,175.72618040067692 756.0690484369633,185.38371693576093 790,198 C 823.9309515630367,210.61628306423907 833.9830851966803,226.19131265763326 867,223 C 900.0169148033197,219.80868734236674 955.998610776315,197.85103243370597 993,189 C 1030.001389223685,180.14896756629403 1048.0224716980592,184.40455760754287 1087,187 C 1125.9775283019408,189.59544239245713 1185.9115024314483,190.53073713612253 1230,186 C 1274.0884975685517,181.46926286387747 1302.3315185761487,171.472493847967 1336,172 C 1369.6684814238513,172.527506152033 1408.7624232639575,183.5792874720094 1427,190 C 1445.2375767360425,196.4207125279906 1442.6187883680213,198.2103562639953 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 41.61127654463074,197.71567476277252 83.22255308926148,195.43134952554504 116,189 C 148.77744691073852,182.56865047445496 172.72106418758486,171.99027666059243 211,164 C 249.27893581241514,156.00972333940757 301.8931901603992,150.60754383208527 342,166 C 382.1068098396008,181.39245616791473 409.70617517081865,217.5795480110664 442,214 C 474.29382482918135,210.4204519889336 511.2821091563262,167.07426412364921 547,166 C 582.7178908436738,164.92573587635079 617.1653882038762,206.12339549433673 656,218 C 694.8346117961238,229.87660450566327 738.056338028169,212.4321538990038 772,194 C 805.943661971831,175.5678461009962 830.6092596834477,156.14798890964815 872,172 C 913.3907403165523,187.85201109035185 971.5066232380402,238.9758904624037 1007,234 C 1042.4933767619598,229.0241095375963 1055.3642473643924,167.94844924073715 1087,164 C 1118.6357526356076,160.05155075926285 1169.0363873043893,213.23031257464783 1213,235 C 1256.9636126956107,256.7696874253522 1294.490203418049,247.13030046067175 1340,227 C 1385.509796581951,206.86969953932825 1439.0027990234146,176.2484855826652 1457,170 C 1474.9972009765854,163.7515144173348 1457.4986004882926,181.87575720866738 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 40.86865247755337,200.17175567214102 81.73730495510674,200.34351134428204 116,199 C 150.26269504489326,197.65648865571796 177.91943265712638,194.7977102950128 210,197 C 242.08056734287362,199.2022897049872 278.5849644163878,206.4656474756668 318,205 C 357.4150355836122,203.5343525243332 399.7407096773227,193.3396998023201 434,202 C 468.2592903226773,210.6603001976799 494.45219687432154,238.1755533150529 539,236 C 583.5478031256785,233.8244466849471 646.4505028253908,201.95808693746832 684,192 C 721.5494971746092,182.04191306253168 733.7457918241155,193.99209893507387 759,203 C 784.2542081758845,212.00790106492613 822.5663298781475,218.07351732223626 870,223 C 917.4336701218525,227.92648267776374 973.9888886632943,231.7138317759811 1014,222 C 1054.0111113367057,212.2861682240189 1077.4781154686752,189.07115557383932 1105,194 C 1132.5218845313248,198.92884442616068 1164.098649462005,232.00154592866164 1203,233 C 1241.901350537995,233.99845407133836 1288.1272866833065,202.92266071151417 1329,188 C 1369.8727133166935,173.07733928848583 1405.3922038047697,174.30781122528168 1423,179 C 1440.6077961952303,183.69218877471832 1440.3038980976153,191.84609438735916 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 34.599123119829855,200.61143502105503 69.19824623965971,201.22287004211006 110,193 C 150.8017537603403,184.77712995788994 197.8061381611911,167.71995485261488 233,171 C 268.1938618388089,174.28004514738512 291.5772011155759,197.89731054743044 326,209 C 360.4227988844241,220.10268945256956 405.88505737650524,218.69080295766335 441,218 C 476.11494262349476,217.30919704233665 500.8825693784031,217.33947762191613 540,220 C 579.1174306215969,222.66052237808387 632.5846651098822,227.9512865546721 669,216 C 705.4153348901178,204.0487134453279 724.778770182068,174.85537615939538 762,177 C 799.221229817932,179.14462384060462 854.3002541618457,212.6272088077463 890,220 C 925.6997458381543,227.3727911922537 942.0202131705489,208.6357886096194 982,189 C 1021.9797868294511,169.3642113903806 1085.618893155958,148.82963675377604 1124,163 C 1162.381106844042,177.17036324622396 1175.5042142056195,226.04566437527652 1211,233 C 1246.4957857943805,239.95433562472348 1304.3642500215637,204.98770574511784 1347,194 C 1389.6357499784363,183.01229425488216 1417.0387857081248,196.00351264425205 1430,201 C 1442.9612142918752,205.99648735574795 1441.4806071459375,202.99824367787397 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 42.90322670536236,195.61193647698053 85.80645341072471,191.22387295396103 124,198 C 162.1935465892753,204.77612704603897 195.67741306246353,222.7164446611364 226,221 C 256.32258693753647,219.2835553388636 283.4838943394211,197.9103484014934 315,185 C 346.5161056605789,172.0896515985066 382.3870095798522,167.64216173288997 422,165 C 461.6129904201478,162.35783826711003 504.96806734117035,161.52100466694674 542,162 C 579.0319326588296,162.47899533305326 609.7407210554666,164.27381959932308 654,170 C 698.2592789445334,175.72618040067692 756.0690484369633,185.38371693576093 790,198 C 823.9309515630367,210.61628306423907 833.9830851966803,226.19131265763326 867,223 C 900.0169148033197,219.80868734236674 955.998610776315,197.85103243370597 993,189 C 1030.001389223685,180.14896756629403 1048.0224716980592,184.40455760754287 1087,187 C 1125.9775283019408,189.59544239245713 1185.9115024314483,190.53073713612253 1230,186 C 1274.0884975685517,181.46926286387747 1302.3315185761487,171.472493847967 1336,172 C 1369.6684814238513,172.527506152033 1408.7624232639575,183.5792874720094 1427,190 C 1445.2375767360425,196.4207125279906 1442.6187883680213,198.2103562639953 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}

.path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 43.208148290873325,314.1656774948897 86.41629658174665,328.3313549897794 123,321 C 159.58370341825335,313.6686450102206 189.54296196388668,284.840257535772 224,272 C 258.4570380361133,259.159742464228 297.4118555627064,262.3076148671326 334,274 C 370.5881444372936,285.6923851328674 404.8096157852875,305.92928299569763 443,307 C 481.1903842147125,308.07071700430237 523.3496812961437,289.97525315007664 558,289 C 592.6503187038563,288.02474684992336 619.7916590301378,304.16970440399575 651,313 C 682.2083409698622,321.83029559600425 717.4836825833048,323.34592923394024 761,319 C 804.5163174166952,314.65407076605976 856.2736106366431,304.4465786602433 900,299 C 943.7263893633569,293.5534213397567 979.4218748701221,292.86775612508654 1006,292 C 1032.578125129878,291.13224387491346 1050.038889882868,290.08239683941053 1090,283 C 1129.961110117132,275.91760316058947 1192.4225655984064,262.80265651727143 1235,278 C 1277.5774344015936,293.19734348272857 1300.2708477235062,336.70697709150386 1337,334 C 1373.7291522764938,331.29302290849614 1424.4940435075698,282.3694351167132 1444,269 C 1463.5059564924302,255.6305648832868 1451.7529782462152,277.8152824416434 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 30.721816167075303,279.38615301682285 61.44363233415061,258.77230603364575 102,266 C 142.5563676658494,273.22769396635425 192.94728683047288,308.2969288822398 229,313 C 265.0527131695271,317.7030711177602 286.7672203439579,292.0399784373952 324,293 C 361.2327796560421,293.9600215626048 413.98383179369563,321.54315736817944 459,323 C 504.01616820630437,324.45684263182056 541.2974524812597,299.7873920898871 569,299 C 596.7025475187403,298.2126079101129 614.8263582812652,321.30727427227225 645,319 C 675.1736417187348,316.69272572772775 717.3971143936792,288.98351082102374 765,275 C 812.6028856063208,261.01648917897626 865.5851841440181,260.75868244363284 906,268 C 946.4148158559819,275.24131755636716 974.2621490302483,289.9817594044448 1004,294 C 1033.7378509697517,298.0182405955552 1065.3662197349888,291.314279938588 1104,286 C 1142.6337802650112,280.685720061412 1188.2729720297968,276.76112084120325 1229,282 C 1269.7270279702032,287.23887915879675 1305.541892145824,301.6412366965991 1340,304 C 1374.458107854176,306.3587633034009 1407.5594593869075,296.67393237240026 1424,294 C 1440.4405406130925,291.32606762759974 1440.2202703065464,295.66303381379987 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 47.36969967559344,315.5712278625264 94.73939935118688,331.14245572505286 126,319 C 157.26060064881312,306.85754427494714 172.41210227084588,267.0014049623152 200,269 C 227.58789772915412,270.9985950376848 267.61219156542955,314.85192442568643 313,326 C 358.38780843457045,337.14807557431357 409.1391314674358,315.59089733493886 445,300 C 480.8608685325642,284.40910266506114 501.83128256482723,274.7844862345579 541,272 C 580.1687174351728,269.2155137654421 637.5357382732556,273.2711577268294 679,271 C 720.4642617267444,268.7288422731706 746.0257643421504,260.1308828581243 778,263 C 809.9742356578496,265.8691171418757 848.3612043581427,280.2053108406732 883,290 C 917.6387956418573,299.7946891593268 948.5294182252793,305.0478737791831 980,311 C 1011.4705817747207,316.9521262208169 1043.52112274074,323.60319404259457 1087,320 C 1130.47887725926,316.39680595740543 1185.3860908117604,302.53935005043854 1229,300 C 1272.6139091882396,297.46064994956146 1304.9345140122186,306.23940575565115 1338,315 C 1371.0654859877814,323.76059424434885 1404.8758531393662,332.50302692695686 1422,330 C 1439.1241468606338,327.49697307304314 1439.562073430317,313.74848653652157 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 34.45906375453406,303.69255607755724 68.91812750906811,307.38511215511454 109,310 C 149.0818724909319,312.61488784488546 194.78655371826164,314.1521074570993 235,319 C 275.21344628173836,323.8478925429007 309.93565761788534,332.0064580164884 341,325 C 372.06434238211466,317.9935419835116 399.4708158101968,295.8220604769473 437,292 C 474.5291841898032,288.1779395230527 522.1810791413275,302.70530007572256 557,314 C 591.8189208586725,325.29469992427744 613.8048676244929,333.35673922016247 648,323 C 682.1951323755071,312.64326077983753 728.5994503607008,283.8677430436277 777,281 C 825.4005496392992,278.1322569563723 875.7973309327041,301.172288605327 905,301 C 934.2026690672959,300.827711394673 942.2112259084835,277.44310253506416 979,271 C 1015.7887740915165,264.55689746493584 1081.3577654333621,275.0553012544165 1126,277 C 1170.6422345666379,278.9446987455835 1194.3577123580678,272.3356924472698 1225,281 C 1255.6422876419322,289.6643075527302 1293.2113851343663,313.60192895650425 1335,317 C 1376.7886148656337,320.39807104349575 1422.796747104467,303.25659172671305 1441,297 C 1459.203252895533,290.74340827328695 1449.6016264477666,295.3717041366435 1440,300 C 1440,300 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,300 0,300 C 43.208148290873325,314.1656774948897 86.41629658174665,328.3313549897794 123,321 C 159.58370341825335,313.6686450102206 189.54296196388668,284.840257535772 224,272 C 258.4570380361133,259.159742464228 297.4118555627064,262.3076148671326 334,274 C 370.5881444372936,285.6923851328674 404.8096157852875,305.92928299569763 443,307 C 481.1903842147125,308.07071700430237 523.3496812961437,289.97525315007664 558,289 C 592.6503187038563,288.02474684992336 619.7916590301378,304.16970440399575 651,313 C 682.2083409698622,321.83029559600425 717.4836825833048,323.34592923394024 761,319 C 804.5163174166952,314.65407076605976 856.2736106366431,304.4465786602433 900,299 C 943.7263893633569,293.5534213397567 979.4218748701221,292.86775612508654 1006,292 C 1032.578125129878,291.13224387491346 1050.038889882868,290.08239683941053 1090,283 C 1129.961110117132,275.91760316058947 1192.4225655984064,262.80265651727143 1235,278 C 1277.5774344015936,293.19734348272857 1300.2708477235062,336.70697709150386 1337,334 C 1373.7291522764938,331.29302290849614 1424.4940435075698,282.3694351167132 1444,269 C 1463.5059564924302,255.6305648832868 1451.7529782462152,277.8152824416434 1440,300 C 1440,300 1440,400 1440,400 Z");
    }
}