@import  '../index.scss';

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 10vh;
    div{
        width: calc(100%/3);
    }
    .navigation{
        display: flex;
        .choicheBox{
            width: fit-content;
            margin-right: 30px;
            h3{
                margin-bottom: 0;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                transition: all .2s;
            }
            .linehover{
                height: 2px;
                width: 0px;
                transition: all .3s ease-in-out;
            }
            .active{
                color: $brand-color;
                font-weight: bold;
            }
            .activeLineHover{
                width: 100%;
                height: 2px;
                background-color: $brand-color;
            }
            &:hover h3{
                color: $brand-color;
            }
            &:hover .linehover{
                width: 100%;
                height: 2px;
                background-color: $brand-color;
            }
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img{
            width: auto;
            height: 100%;
        }
    }
    .contact{
        display: flex;
        justify-content: flex-end;
    }
}