@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import '../../index.scss';

.carousel {  
  margin: 40px auto;
}

.slide img {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
  color: $brand-color;
}

.arrow svg:hover {
  color: white;
}

.next {
  right: 5%;
  top: 50%;
}

.prev {
  left: 5%;
  top: 50%;
}